<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
                android:name=".MotionAnimationActivity"
                android:exported="false"
                android:label="@string/title_activity_motion_animation"
                android:theme="@style/Theme.Animations" />
    </application>

</manifest>